.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: rgb(2, 170, 10);
    border: 1px solid rgb(2, 170, 10);
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: rgb(2, 88, 38);
    border-color: rgb(2, 88, 38);
  }